---
permalink: /modules/
title: My Modules
search: true
layout: pages
---

{% for module in site.data.mymodules %}
    <h2>{{ module.name }}</h2>

    <p>{{ module.description }}</p>

    <table>
        <thead>
            <tr>
                <th>Feature</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Help</td>
                <td>
                    {{ module.help }}
                </td>
            </tr>
            <tr>
                <td>Online Help</td>
                <td>
                    {% if module.onlinehelp != null %}
                        <a href="{{ module.onlinehelp }}"  target="_blank">Yes</a>
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Updatable Help</td>
                <td>
                    {% if module.updatablehelp == true %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Pester Tests</td>
                <td>
                    {% if module.pester == true %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Build Script</td>
                <td>
                    {% if module.build == true %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>GitHub Repo</td>
                <td><a href="https://github.com/thedavecarroll/{{ module.name }}" target="_blank">{{ module.name }}</a></td>
            </tr>
            <tr>
                <td>PowerShell Gallery</td>
                <td>
                    {% if module.psgallery == true %}
                        <a href="https://www.powershellgallery.com/packages/{{ module.name }}/"  target="_blank"><img src="https://img.shields.io/powershellgallery/dt/{{ module.name }}.svg?style=for-the-badge" alt="{{ module.name }}"></a>
                    {% else %}
                        Not published
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>PowerShell Gallery Version</td>
                <td>
                    {% if module.psgallery == true %}
                        <a href="https://www.powershellgallery.com/packages/{{ module.name }}/"  target="_blank"><img src="https://img.shields.io/powershellgallery/v/{{ module.name }}.svg?style=for-the-badge" alt="{{ module.name }}"></a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endfor %}
