<footer class="tj-footer">
  <div class="tj-footer__container">
    <div class="tj-footer__row">
      <div class="tj-footer__left">
        <div class="tj-footer__copyright">&copy;&nbsp;{{ with site.Params.footer.since }}{{ . }}&nbsp;-&nbsp;{{ end }}{{ now.Year }}&nbsp;{{ site.Params.author.name }}</div>
        <div class="tj-footer__license">
          <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="license noopener noreferrer">CC BY-NC-SA 4.0</a>
          <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="CC">
          <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="BY">
          <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="NC">
          <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="SA">
        </div>
      </div>

      <div class="tj-footer__center">
        <div>This site uses <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer">Google Analytics</a> with privacy-focused settings:</div>
        <div>IP addresses are anonymized</div>
        <div>Do Not Track signals are honored</div>
        <div>Cookies are used to track sessions</div>
      </div>

      <div class="tj-footer__right">
        <a href="/valida11y/" title="Validation & Accessibility">
          <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS">
        </a>
        <a href="/valida11y/" title="Validation & Accessibility">
          <img src="https://www.w3.org/WAI/WCAG21/wcag2.1AA-v.png" alt="WCAG 2.1 AA">
        </a>
        <a href="https://www.cloudflare.com" target="_blank" rel="noopener noreferrer" title="Protected by Cloudflare" class="tj-footer__cloudflare">
          <img src="https://www.cloudflare.com/img/logo-cloudflare-dark.svg" alt="Cloudflare">
        </a>
      </div>
    </div>
  </div>
</footer>
