|Title|Author(s)|
|-|-|
|The Unicorn Project: A Novel about Digital Disruption, Rebels, and Overthrowing the Ancient Powerful Order|Gene Kim|
|The Phoenix Project: A Novel about IT, DevOps, and Helping Your Business Win|Gene Kim, Kevin Behr, and George Spafford|
|Beyond the Phoenix Project|Gene Kim, John Willis|
|The DevOps Handbook: How to Create World-Class Agility, Reliability, and Security in Technology Organizations|Gene Kim, Jez Humble, and Patrick Debois|
|Accelerate: The Science of Lean Software and DevOps: Building and Scaling High Performing Technology Organizations|Nicole Forsgren PhD, Jez Humble, Gene Kim|
|Continuous Delivery: Reliable Software Releases through Build, Test, and Deployment Automation|Jez Humble and David Farley|
|Making Work Visible: Exposing Time Theft to Optimize Work and Flow|Dominica DeGrandis|
|The State of DevOps Report, a yearly report based on survey data|Puppet|
|The Goal: A Process of Ongoing Improvement|Eliyahu M. Goldratt, Jeff Cox|
|Theory of Constraints|Eliyahu M. Goldratt|
