{{ $type := .Get "type" }}
{{ $noticeTypeText := "" }}

{{ if eq $type "retiredlink" }}
    {{ $category := .Get "category" }}
    {{ if not $category }}
      {{ errorf "Missing required 'category' attribute for notice type 'retiredlink'" }}
    {{ end }}
    {{ $noticeTypeText = $category }}
{{ else if eq $type "ai" }}
    {{ $noticeTypeText = "AI Usage" }}
{{ else }}
    {{ $noticeTypeText = upper $type }}
{{ end }}

<div class="notice {{ .Get "type" }}">
    <div class="notice-icon">
        {{ if eq $type "tip" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 20v-8"></path><path d="M18 10a6 6 0 0 0-12 0"></path><path d="M8 16h8"></path><path d="M12 20v-8"></path></svg>
        {{ else if eq $type "note" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 10c2-3.333 4-5 6-5 3 0 3 5 6 5s3-5 6-5c2 0 4 1.667 6 5"></path><path d="M2 19c2-3.333 4-5 6-5 3 0 3 5 6 5s3-5 6-5c2 0 4 1.667 6 5"></path></svg>
        {{ else if eq $type "important" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
        {{ else if eq $type "warning" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
        {{ else if eq $type "error" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
        {{ else if eq $type "ai" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-ai"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 16v-6a2 2 0 1 1 4 0v6" /><path d="M8 13h4" /><path d="M16 8v8" /></svg>
        {{ else if eq $type "retiredlink" }}
            <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-unlink"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 22v-2" /><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /><path d="M20 17h2" /><path d="M2 7h2" /><path d="M7 2v2" /></svg>
        {{ end }}
    </div>
    <div class="notice-content">
        <div class="notice-type">{{ $noticeTypeText }}</div>
        <div class="notice-text">
            {{ .Inner | markdownify }}
        </div>
    </div>
</div>
