| Author | Twitter | Blog |
| :----- | :----- | :----- |
|Adam Bertram|@adbertram|[https://adamtheautomator.com/](https://adamtheautomator.com/) |
|Dave Carroll| @thedavecarroll|[https://thedavecarroll.com/](https://thedavecarroll.com/) |
|Josh Duffney|@joshduffney|[https://duffney.io/](https://duffney.io/) |
|Dan Franciscus|@danfranciscus|[https://winsysblog.com/](https://winsysblog.com/) (old cert) |
|Jeff Hicks|@jeffhicks|[https://jdhitsolutions.com/blog/](https://jdhitsolutions.com/blog/) |
|Mike Kanakos|@MikeKanakos|[https://commandline.ninja/](https://commandline.ninja/) |
|Josh King|@WindosNZ|[https://toastit.dev/](https://toastit.dev/) |
|Thomas Lee|@doctordns|[https://tfl09.blogspot.com/](https://tfl09.blogspot.com/) |
|Tommy Maynard|@thetommymaynard|[https://tommymaynard.com/](https://tommymaynard.com/) |
|Jonathan Medd|@jonathanmedd|[https://www.jonathanmedd.net/](https://www.jonathanmedd.net/) |
|Prateek Singh|@singhprateik|https://ridicurious.com/ (bad link)|
