<div class="tj-widget tj-random-article" id="random-article-widget">
  <div class="tj-random-article__header">
    <h3 class="tj-random-article__heading">Get&#8209;RandomArticle</h3>
    <button type="button" class="tj-random-article__refresh" aria-label="Get another article" title="Get another article">
      {{ partial "icons/refresh.html" }}
    </button>
  </div>
  <div class="tj-random-article__content">
    <h4 class="tj-random-article__title">Loading...</h4>
    <p class="tj-random-article__summary"></p>
    <a href="#" class="tj-random-article__link">Read article</a>
  </div>
  <div class="tj-random-article__footer">
    <img src="/icons/powershell-black.png" alt="" class="tj-random-article__icon">
  </div>
</div>
