{{ if or .Params.Tags .Params.Categories }}
    <div class="section article-tags">
        {{ with .GetTerms "tags" }}
            {{ range . }}
                {{ $dict := $.Site.Data.dictionary.terms }}
                {{ $term := .LinkTitle }}
                {{ $words := split $term " " }}
                {{ $processedWords := slice }}

                {{ range $word := $words }}
                    {{ $wordLower := $word | lower }}
                    {{ $replaced := false }}
                    {{ range $key, $value := $dict }}
                        {{ $keyLower := $key | lower }}
                        {{ if eq $wordLower $keyLower }}
                            {{ $processedWords = $processedWords | append $value }}
                            {{ $replaced = true }}
                            {{ break }}
                        {{ end }}
                    {{ end }}
                    {{ if not $replaced }}
                        {{ $processedWords = $processedWords | append ($word | title) }}
                    {{ end }}
                {{ end }}
                <a href="/tags/#{{ .LinkTitle | urlize }}">{{ delimit $processedWords " " }}</a>
            {{ end }}
        {{ end }}
    </div>
{{ end }}